<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brain Training</title>
  <link rel="icon" href="/brain.ico">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://kit.fontawesome.com/e84e907964.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <h1><a href="/">Brain Training Platform</a></h1>
    <ul>
      <% if (user) { %>
        <li>Привіт, <%= user.name %></li>
        <li><b><%= user.status %>:</b> <%= user.score %> cls</li>
        <li><a href="/logout" class="btn">Вихід</a></li>
      <% } else { %>
        <li id="login"><a href="/login" class="btn">Вхід</a></li>
        <li id="signup"><a href="/signup" class="btn">Реєстрація</a></li>
      <% } %>
    </ul>
  </nav>

<script>
    let url = window.location.href;
    let host = window.location.host;
    if(url.indexOf('http://' + host + '/signup') != -1) {
        $( "#signup" ).remove();
    }
    if(url.indexOf('http://' + host + '/login') != -1) {
        $( "#login" ).remove();
    }
</script>