<%- include('partials/header'); -%>

<form>
    <h2>New Game</h2>
    <label for="title">Title</label>
    <input type="text" name="title" required/>
    <label for="description">Description</label>
    <textarea type="text" name="description" rows="5" cols="43" required></textarea>
    <label for="level">Level</label>
    <select name="level">
        <option value="All levels" selected>All levels</option>
        <option value="Beginner">Beginner</option>
        <option value="Average">Average</option>
        <option value="Proficient">Proficient</option>
    </select>
    <label for="imageLink">Image Link</label>
    <input type="text" name="imageLink" required/>
    <label for="pageLink">Page Link</label>
    <input type="text" name="pageLink" required/>
    <div class="errorText error"></div>
    <button>Save</button>
</form>

<script src='/js/update-game.js'></script>

<%- include('partials/footer'); -%>