<%- include('partials/header'); -%>

<a href="/games" class="btn back"><i class="fas fa-arrow-left"></i>До ігор</a>

<form>
    <h2>Нова гра</h2>
    <label for="title">Назва</label>
    <input type="text" name="title" required/>
    <label for="description">Опис</label>
    <textarea type="text" name="description" rows="5" cols="43" required></textarea>
    <label for="level">Рівень</label>
    <select name="level">
        <option value="Усі рівні" selected>Усі рівні</option>
        <option value="Початківець">Початківець</option>
        <option value="Середній">Середній</option>
        <option value="Досвідчений">Досвідчений</option>
    </select>
    <label for="imageLink">Зображення</label>
    <input type="text" name="imageLink" required/>
    <label for="pageLink">Посилання</label>
    <input type="text" name="pageLink" required/>
    <div class="errorText error"></div>
    <button>Зберегти</button>
</form>

<script src='/js/add-game.js'></script>

<%- include('partials/footer'); -%>