<%- include('partials/header'); -%>

<ul class="games">
  <li class="game">
    <img src="/brain.png" alt="">
    <h4>Circles sequence</h4>
    <p>Some cool cool game. Lets play!</p>
    <a href="/game-ball" class="btn btn-game">Play</a>
  </li>
  <li class="game">
    <img src="/brain.png" alt="">
    <h4>Cool game</h4>
    <p>Some cool cool game. Lets play!</p>
  </li>
  <li class="game">
    <img src="/brain.png" alt="">
    <h4>Cool game</h4>
    <p>Some cool cool game. Lets play!</p>
  </li>
  <li class="game">
    <img src="/brain.png" alt="">
    <h4>Cool game</h4>
    <p>Some cool cool game. Lets play!</p>
  </li>
  <li class="game">
    <img src="/brain.png" alt="">
    <h4>Cool game</h4>
    <p>Some cool cool game. Lets play!</p>
  </li>
  <li class="game">
    <img src="/brain.png" alt="">
    <h4>Cool game</h4>
    <p>Some cool cool game. Lets play!</p>
  </li>
</ul>

<%- include('partials/footer'); -%>