<%- include('partials/header'); -%>


<header>
  <div class="brain">
    <img src="/brain.png" alt="">
  </div>
  <div class="headings">
    <h2>Cool Games</h2>
    <h3>for cognitive training</h3>
    <a href="/games" class="btn">Play Games</a>
  </div>
</header>

<div class="container">
  <div class="top">
    <h3>Top</h3>
    <img src="/home-img-top.png" alt="">
    <div class="top__info" id="top">
    </div>
  </div>
  <% if (user) { %>
  <div class="statistic">
    <h3>My statistic</h3>
    <img src="/home-img-statistic.png" alt="">
    <div class="statistic__info" id="my-statistic">
    </div>
  </div>
  <% } %>
</div>

<script src='/js/home.js'></script>
<%- include('partials/footer'); -%>