<%- include('partials/header'); -%>


<header>
  <div class="brain">
    <img src="/brain.png" alt="">
  </div>
  <div class="headings">
    <h2>Cool Games</h2>
    <h3>for cognitive training</h3>
    <a href="/games" class="btn">Play Games</a>
  </div>
</header>

<h3>Top</h3>
<div id="top">
</div>
<% if (user) { %>
  <h3>My statistic</h3>
  <div id="my-statistic">
  </div>
<% } %>
<script src='/js/home.js'></script>
<%- include('partials/footer'); -%>