<%- include('partials/header'); -%>

<header>
  <div class="brain">
    <img src="/brain.png" alt="">
  </div>
  <div class="headings">
    <h2>Cool Games</h2>
    <h3>for cognitive training</h3>
    <a href="/games" class="btn">Play Games</a>
  </div>
</header>

<hr>

<div class="container row">
  <div class="top col">
    <h3>Top</h3>
    <img src="/home-img-top.png" alt="">
    <div class="top__info" id="top">
    </div>
  </div>
  <% if (user) { %>
  <div class="statistic col">
    <h3>My statistic</h3>
    <img src="/home-img-statistic.png" alt="">
    <div class="statistic__info" id="my-statistic">
    </div>
  </div>
  <% } %>
</div>

<hr>

<div class="container news">
  <h3>Memory Technique Of The Week</h3>
  <img src="/home-img-news.png" alt="">
  <div class="news__info">
  </div>
  <video controls>
    <source src="/memory-tricks-video.mp4" type="video/mp4">
    Sorry, your browser does not support the video tag.
  </video>
</div>

<hr>

<script src='/js/home.js'></script>
<%- include('partials/footer'); -%>