<%- include('partials/header'); -%>


<header>
  <div class="brain">
    <img src="/brain.png" alt="">
  </div>
  <div class="headings">
    <h2>Cool Games</h2>
    <h3>for cognitive training</h3>
    <a href="/games" class="btn">Play Games</a>
  </div>
</header>

<div id="top">

</div>
<% if (user) { %>
<div id="my-statistic">

</div>
<% } %>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src='/js/home.js'></script>
<%- include('partials/footer'); -%>