<%- include('partials/header'); -%>

<form>
  <h2>Вхід</h2>
  <label for="email">Мейл</label>
  <input type="text" name="email" required/>
  <div class="email error"></div>
  <label for="password">Пароль</label>
  <input type="password" name="password" required/>
  <div class="password error"></div>
  <button>Log in</button>
</form>

<script src='/js/login.js'></script>

<%- include('partials/footer'); -%>