<head>
    <title>Test your memory</title>
    <link rel="icon" href="/brain.ico">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<div id="words" class="container">
    <p>Tiger</p>
    <p>Violet</p>
    <p>Sun</p>
    <p>Hello</p>
    <p>Forest</p>
    <a class="btn btn-game" onclick="displayForm()">Next</a>
</div>
<div id="form" class="container">
    <input id="tiger" name="tiger" type="text">
    <input id="violet" name="violet" type="text">
    <input id="sun" name="sun" type="text">
    <input id="hello" name="hello" type="text">
    <input id="forest" name="forest" type="text">
    <a class="btn btn-game" onclick="checkForm()">Check</a>
</div>
<div id="result" class="container">
    <h2>Thank you for completing the test!</h2>
</div>
<div id="start" class="container">
    <a href="/" class="btn btn-game">Start</a>
</div>

<script src='/js/test.js'></script>

<%- include('partials/footer'); -%>