<%- include('partials/header'); -%>

<form>
    <h2>Weekly Post</h2>
    <label for="header">Header</label>
    <input type="text" name="header" required/>
    <label for="description">Text</label>
    <textarea type="text" name="description" rows="5" cols="43"></textarea>
    <label for="imageLink">Image Link</label>
    <input type="text" name="imageLink"/>
    <label for="videoLink">Video Link</label>
    <input type="text" name="videoLink"/>
    <div class="errorText error"></div>
    <button>Save Changes</button>
</form>

<script src='/js/update-post.js'></script>

<%- include('partials/footer'); -%>