<%- include('partials/header'); -%>

<form>
    <h2>Тижневий пост</h2>
    <label for="header">Заголовок</label>
    <input type="text" name="header" required/>
    <label for="description">Текст</label>
    <textarea type="text" name="description" rows="5" cols="43"></textarea>
    <label for="imageLink">Зображення</label>
    <input type="text" name="imageLink"/>
    <label for="videoLink">Відео</label>
    <input type="text" name="videoLink"/>
    <div class="errorText error"></div>
    <button>Зберегти зміни</button>
</form>

<script src='/js/update-post.js'></script>

<%- include('partials/footer'); -%>