* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#canvas {
  border: 3px dotted #260202;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

input {
  text-align: center;
}

label {
  margin-top: 15px;
  margin-bottom: 0;
}

.container{
  margin: 0 auto 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 2px 10px !important;
  font-size: 10px;
  opacity: 0.8;
  font-weight: 500;
}