/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.4rem;
  letter-spacing: .8px;
  // background: #fafafa;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
hr{
  margin: 35px 0;
  border: 7px solid #55939b;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #b95eb9;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
  ul{
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  li{
    margin-left: 20px;
    a{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
      display: block;
      padding: 10px 16px;
      letter-spacing: 2px;
    }
  }
}
.btn {
  border-radius: 36px;
  background: #FEE996;
  border: 1px solid black;
  text-align: center;

  &-game {
    padding: 3px 10px;
    font-weight: 600;
  }

  &:hover {
    background: #f1b1ee;
  }
}
p {
  margin-bottom: 15px;
}
form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;

  h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
  }
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  border: 1px solid black;

  &:hover {
    background: #f1b1ee;
  }
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;

  img{
    width: 350px;
    margin-right: 40px;
  }
  h2{
    font-size: 3em;
    margin-bottom: 10px;
  }

  h3{
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-left: 2px;
    color: #55939b;
  }

  .btn{
    margin-top: 20px;
    padding: 12px 18px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
  }
}
.games{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 120px auto;
  max-width: 1200px;

  &__delete {
    display: inline;
    margin: 0 auto;
    width: 40px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background: white;
  }

  &__game{
    display: inline-block;
    border-radius: 20px;
    background: white;
    position: relative;
    text-align: center;
    padding: 0 20px 30px 20px;
    
    img{
      width: 200px;
      margin: -50px auto 10px;
    }

    h5{
      margin: 3px auto;
    }
  }
}

footer{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  color: rgb(177, 166, 166);
  p {
    margin: 0 auto;
  }
  a {
    font-size: 14px;
  }
}
a{
  cursor: pointer;
}

.statistic {
  img {
    max-width: 300px;
    width: 100%;
  }

  &__info{
    text-align: left;
    padding: 30px;
  }
}

.top {
  img {
    max-width: 300px;
    width: 100%;
  }

  &__info{
    text-align: left;
    padding: 30px;
  }
}

.row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.news {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  img {
    max-width: 200px;
    width: 100%;
  }
  video {
    max-width: 800px;
    width: 100%;
    border: 5px solid #55939b;
  }
}

textarea, select {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #b95eb9;
  resize: none;
}
