/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 20px 40px;
  font-size: 1.4rem;
  letter-spacing: .8px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff1eb), to(#ace0f9));
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

hr {
  margin: 35px 0;
  border: 7px solid #55939b;
  background-image: -webkit-gradient(linear, left top, right top, from(#eea2a2), color-stop(19%, #bbc1bf), color-stop(42%, #57c6e1), color-stop(79%, #b49fda), to(#7ac5d8));
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #b95eb9;
}

a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 70px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.btn {
  border-radius: 36px;
  background: #FEE996;
  border: 1px solid black;
  text-align: center;
}

.btn-game {
  padding: 3px 10px;
  font-weight: 600;
}

.btn:hover {
  background: #f1b1ee;
}

p {
  margin-bottom: 15px;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

label {
  display: block;
  margin: 20px 0 10px;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  border: 1px solid black;
}

button:hover {
  background: #f1b1ee;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 350px;
  margin-right: 40px;
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #55939b;
}

header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

.games {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 80px;
  margin: 120px auto;
  max-width: 1200px;
}

.games__game {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
}

.games__game img {
  width: 200px;
  margin: -50px auto 10px;
}

.games__game h5 {
  margin: 3px auto;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #b1a6a6;
}

footer p {
  margin: 0 auto;
}

footer a {
  font-size: 14px;
}

a {
  cursor: pointer;
}

.statistic img {
  max-width: 300px;
  width: 100%;
}

.statistic__info {
  text-align: left;
  padding: 30px;
}

.top img {
  max-width: 300px;
  width: 100%;
}

.top__info {
  text-align: left;
  padding: 30px;
}

.row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.news {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news img {
  max-width: 200px;
  width: 100%;
}

.news video {
  max-width: 800px;
  width: 100%;
  border: 5px solid #55939b;
}

textarea, select {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #b95eb9;
  resize: none;
}
/*# sourceMappingURL=styles.css.map */