h1 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn {
  max-width: 60px;
  width: 100%;
  margin: 10px auto;
}

input {
  margin: 10px;
  text-align: center;
  max-width: 200px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  font-size: 24px;
  margin: 0 20px;
}

#start {
  margin: 0 auto;
}

p {
  max-width: 600px;
  width: 100%;
}